body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://image.freepik.com/fotos-gratis/ilustracao-3d-de-coronavirus-conceito-covid-19-com-espaco-da-copia-gratuita-para-o-texto-no-fundo-branco-banner-horizontal-com-celulas-de-virus-microscopicos-vermelhos_120968-240.jpg');
}